In [2]:
from twone import RNNContainer
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.rand(1000,2), columns=['a','b'])

In [7]:
df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.717664</td>
      <td>0.278476</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.900936</td>
      <td>0.354774</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.337617</td>
      <td>0.311144</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.775067</td>
      <td>0.528369</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.535198</td>
      <td>0.338019</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.562918</td>
      <td>0.336426</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.351873</td>
      <td>0.676254</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.493310</td>
      <td>0.880768</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.784142</td>
      <td>0.216016</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.149518</td>
      <td>0.678533</td>
    </tr>
  </tbody>
</table>
</div>