In [2]:
from twone import RNNContainer
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.reshape(np.arange(30000), (3, -1)).T, columns=['a', 'b', 'c'])

In [4]:
feature_tags = ['a', 'b']
target_tags = ['c']

In [5]:
container = RNNContainer(df)

In [6]:
container.set_feature_tags(feature_tags)
container.set_target_tags(target_tags)

In [7]:
container.data.head(10)

   a      b      c  c_target
0  0  10000  20000   20001.0
1  1  10001  20001   20002.0
2  2  10002  20002   20003.0
3  3  10003  20003   20004.0
4  4  10004  20004   20005.0
5  5  10005  20005   20006.0
6  6  10006  20006   20007.0
7  7  10007  20007   20008.0
8  8  10008  20008   20009.0
9  9  10009  20009   20010.0

In [8]:
#container.gen_batch(batch=5, time_steps=100)

In [11]:
getattr(container, '__training_pointer__')

1

In [10]:
setattr(container, '__training_pointer__', 1)